:root {
    --main-color: #1e7fa7; /* "Cerulean" Header */
    --secondary-color: #2B50AA; /* "Tropical Mint" Contrast */
    --accent-color1: #EE9DAA; /* "Bubblegum Pink" Effects - Works with text-color as Background */
    --background-color: #ffffff; /* "White" Background and Contrast Text */
    --text-color: #272727; /* "Shadow Grey" Text */
    --heading-font: "Roboto", sans-serif;
    --body-font: "Spectral", serif;
}

/* --------------- GENERAL --------------- */
* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--body-font);
}

h1, h2, h3, .card figcaption {
    font-family: var(--heading-font);
    font-weight: 700;
    color: var(--secondary-color);
}

p {
    font-weight: 400;
    font-style: normal;
    padding: .5rem;
}

/* ---------------- HEADER ---------------- */
header {
    background-color: var(--main-color);
    align-items: center;
    position: relative;
    color: var(--background-color);
}

.logo {
    padding: 1rem;
    height: auto;
}

#bName {
    font-size: 1.6rem;
    font-weight: 600;
    position: absolute;
    top: 1.2rem;
    display: none;
}

/* ------------ HAMBURGER MENU ------------ */
#menu {
    font-size: 1.5rem;
    border: 0;
    background: none;
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-weight: 600;
    color: var(--background-color);
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "X";
}

/* Navigation elements */
nav {
    display: flex;
    flex-direction: column;
}

.navigation {
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: space-evenly;
    font-family: var(--heading-font);
    padding: 0;
}

.navigation a {
    color: var(--background-color);
    display: none;
    text-decoration: none;
    text-align: center;
    padding: 0.5rem;
    margin: 0 .5rem .5rem .5rem;
}

.navigation a:hover {
    background-color: var(--text-color);
}

/* When the menu is open */
.open a {
    display: block;
}

/* ------------ BUTTON STYLE ------------ */
/* button class */
.button {
    width: 100%;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 5px;
    background-color: var(--main-color);
    color: var(--background-color);
    border: 1px solid var(--text-color);
    box-shadow: 1px 1px 5px var(--text-color);
    text-align: center;
}

.button:hover {
    background-color: var(--background-color);
    color: var(--text-color);
    box-shadow: inset  1px 1px 5px var(--text-color);
}

/* ---- GENERAL a AND a:hover EFFECT ---- */
/* links class */
.links a {
    text-decoration: none;
}

.links a:hover {
    text-decoration: underline;
}

/* --------------- MAIN --------------- */
main {
    margin: 0 auto;
}
/* HERO BANNER */
.hero img {
    max-width: 100%;
    height: auto;
}

h1, h2, .card figcaption {
    text-align: center;
    padding: 1rem;
}

/* SECTIONS */
section {
    margin: .5rem;
}

/* --------------- CARDS --------------- */
.cardContainer {
    display: flex;
    flex-wrap: wrap;
}

.card {
    max-width: 350px;
    width: 100%;
    border: 2px solid var(--secondary-color);
    border-radius: 1.5rem;
    padding: .5rem;
    margin: .5rem auto;
    display: flex;
    flex-direction: column;
}

.card img {
    border-radius: 1rem;
    width: 100%;
    height: auto;
    order: -1; /* Img displayed first */
}

.card .button {
    width: auto;
    margin: 0 auto;
}

.card figcaption {
    font-size: 1.2rem;
}

/* Call to action button */
.card .button a {
    font-family: var(--heading-font);
    color: var(--background-color);
    display: block;
    width: 100%;
    height: 100%;
    padding: .7rem;
    text-decoration: none;
}

.card .button a:hover {
    color: var(--text-color);
}

/* --------------- FORM --------------- */
.formContainer {
    align-items: center;
    border: 1px solid var(--text-color);
    border-radius: 5px;
    position: relative;
    width: 100%;
    height: 21rem;
    background-color: var(--text-color);
}

.formContainer img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: 20%;
}

#subsForm {
    position: absolute;
    top: 1rem;
    color: var(--background-color);
}

#subsForm fieldset {
    border: 0; /* Erase the line around the form field */
}

#subsForm legend {
    font-family: var(--heading-font);
    font-size: 1.5rem;
    text-align: center;
}

#subsForm input {
    display: block;
    width: 100%;
    padding: .7rem;
    margin-bottom: 1rem;
}

/* subscribe button */
#subsForm button {
    padding: .7rem;
}

/* Terms and conditions */
#subsForm a {
    color: var(--accent-color1);
}

/* -------------- FOOTER -------------- */
footer {
    background-color: var(--main-color);
    padding: 0.5rem;
    color: var(--background-color);
}

.f-footer {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.f-footer ul {
    list-style: none;
    display: flex;
    flex: 1 1 100%;
    align-items: center;
    padding: 0;
}

.f-footer .links a {
    color: var(--background-color);
    padding: 1rem;
}