@media (min-width: 501px) {
    /* ------------ GENERAL ------------ */
    .f-footer, nav {
        max-width: 1000px;
        margin: 0 auto;
    }

    /* HEADER */
    #bName {
        display: initial;
    }

    /* NAVIGATION */
    #menu {
        display: none;
    }

    .navigation {
        flex-direction: row;
        justify-content: space-around;
    }

    .navigation a {
        display: block;
        padding: 1rem;
        margin: 0.2rem;
    }

    /* -------------- FORM -------------- */
    .formContainer {
        display: grid;
        grid-template-columns: auto 2fr;
        align-items: stretch;
        height: auto;
    }

    .formContainer img {
        max-height: 20rem;
        width: 100%;
        height: auto;
        opacity: 100%;
        padding: .5rem;
    }

    #subsForm {
        position: relative;
        padding: .5rem 0;
    }

    /* ----- FOOTER ADDITIONAL RULES ----- */
    #media {
        display: flex;
    }
    
    .f-footer {
        flex-direction: row;
    }

    .f-footer .links a {
        padding: 1rem;
    }
    
    #facebook-logo {
        background-color: var(--background-color);
        max-height: 30px;
        border-radius: 5px;
    }

    /************ ADOPT AND HELP *************/
    .adoptionFilters a {
        padding: .5rem;
    }

    .petAdoption {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 0.5rem;
    }
}

@media (min-width: 700px) {
    /* ---------- MAP & CONTACT ----------- */
    .map {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    .map h2 {
        grid-column: span 2;
    }

    .map iframe {
        max-width: 100%;
        margin: auto;
    }
}

@media (min-width: 1001px) {
    /* MAIN */
    .hero {
        display: flex;
        position: relative;
        background-color: var(--text-color);
        height: min-content;
        /* container-type: inline-size; */
    }

    .hero picture {
        order: -1;
        opacity: .6;
    }

    .hero img {
        width: 100%;
        height: auto;
    }

    .hero h1, .hero p {
        position: absolute;
        color: var(--background-color);
        left: 5%;
        right: 5%;
    }

    .hero h1 {
        top: 5%;
        padding: 1rem;
        margin: 0 auto;
        font-size: 3.5rem;
        color: var(--background-color);
    }

    .hero p {
        top: 50%;
        padding: 2rem;
        text-align: center;
        font-size: 1.2rem;
    }

    section {
        max-width: 1000px;
        margin: 0 auto 1rem;
    }
}

@media (min-width: 1201px) {
    .hero h1{
        top: 10%;
    }

    .hero h1, .hero p {
        left: 15%;
        right: 15%;
    }
}

@media (min-width: 1401px) {
    .hero h1{
        font-size: 4rem;
        top: 15%;
    }

    .hero h1, .hero p {
        left: 20%;
        right: 20%;
    }
}