@media (min-width: 501px) {
    /* ------------ GENERAL ------------ */
    main {
        max-width: 800px;
    }

    /* HEADER */

    #bName {
        display: initial;
    }

    /* NAVIGATION */
    #menu {
        display: none;
    }

    nav {
        justify-content: space-between;
        flex: 1 1 auto;
        padding: 0;
    }

    .navigation {
        flex-direction: row;
    }

    .navigation a {
        display: block;
        padding: 1rem;
        margin: 0.2rem;
    }

    /* -------------- FORM -------------- */
    .formContainer {
        display: grid;
        grid-template-columns: 1fr auto;
    }

    .formContainer img {
        max-height: 300px;
        width: 100%;
        height: auto;
        opacity: 100%;
        padding: 0 0.5rem;
    }

    #subsForm {
        position: relative;
    }

    /* ----- FOOTER ADDITIONAL RULES ----- */
    footer {
        justify-content: space-between;
    }

    #media {
        margin: 0 auto; /* Temporal */
    }

    footer p {
        text-align: center;
    }
}

/* @media (min-width: 800px) {
} */