:root {
    --main-color: #68F4B4; /* "Tropical Mint" Header - Logo */
    --secondary-color: #1e4197; /* "Sapphire" Headings and contrast */
    --accent-color1: #F5697B; /* "Bubblegum Pink" Effects - Logo */
    --background-color: #ffffff; /* Background */
    --text-color: #272727; /* Text */
    --heading-font: "Roboto", sans-serif;
    --body-font: "Spectral", serif;
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

h1, h2, h3 {
    font-family: var(--heading-font);
    color: var(--secondary-color);
    margin: 0.3rem 0;
    font-weight: 700;
}

h1 {
    text-align: center;
}

p {
    font-family: var(--body-font);
    font-weight: 400;
    font-style: normal;
}

header {
    font-family: var(--body-font);
    text-align: center;
    padding: 1rem;
    background-color: var(--main-color);
    font-size: 1.5rem;
    font-weight: 700;
}

main {
    max-width: 800px;
    margin: 0 auto;
}

section {
    margin: 1rem auto;
    align-items: center;
}

#colors p:after {
    content: "██";
}

#main-color:after {
    color: var(--main-color);
}

#background-color:after {
    color: var(--background-color);
}

#accent-color:after {
    color: var(--accent-color1);
}

#headings-color:after {
    color: var(--secondary-color);
}

#paragraphs-color {
    color: var(--text-color);
}

#heading-font::after {
    content: "Roboto";
}

#body-font::after {
    content: "Spectral, serif";
}