
h1, h2, p {
    padding: 0.5rem;
    margin: 0.5rem;
}

header {
    background-color: rgb(58, 58, 58);
    color: white;
    grid-column: span 3;
}

.navigation {
    display: flex;
    padding: 1rem;
    background-color: rgb(0, 0, 0);
}

ul {
    justify-content: space-around;
    margin: 0;
}

body {
    display: grid;
    grid-template: auto 1fr auto / auto 1f auto;
}

main {
    background-color: rgb(212, 212, 212);
}

aside {
    grid-column: 2 / 3;
}

footer {
    background-color: rgb(58, 58, 58);
    color: white;
    grid-column: span 3;
}