
h1, h2, p {
    padding: 0.5rem;
    margin: 0.5rem;
}

header {
    background-color: rgb(58, 58, 58);
    color: white;
    grid-column: span 3;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navigation {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(0, 0, 0);
    text-align: center;
    padding: 0;
    margin-bottom: 0;
}

.navigation a {
    display: block;
    text-decoration: none;
    color: white;
}

.navigation a:hover {
    text-decoration: underline;
    color: rgb(163, 253, 253);
}

li {
    flex: 1 1 auto;
    list-style-type: none;
    padding: 1rem;
}

body {
    display: grid;
    grid-template: auto 1fr auto / auto 1f auto;
}

main {
    background-color: rgb(212, 212, 212);
    min-height: 300px;
    grid-column: span 2;
}

aside {
    grid-column: 3 / 4;
}

footer {
    background-color: rgb(58, 58, 58);
    color: white;
    grid-column: span 3;
    text-align: center;
    min-height: 150px;
}