:root {
    --primary-color: #16342C;
    --secondary-color: rgb(32, 32, 32);
    --accent-color: #eee;
    --hover-color: #B9BF0B;
    --border: 1px solid rgba(80, 80, 80, 0.5);
    --body-font: "Roboto", "sans-serif";
    --accent-font-weight: 600; /* For titles and contrast */
}

* {
    font-family: var(--body-font);
    font-weight: 300;
    box-sizing: border-box;
}

h1, h2, #course-title, footer p {
    font-weight: var(--accent-font-weight);
}

header, .navigation a, .card h2, footer {
    color: var(--accent-color);
}

header {
    background-color: var(--secondary-color);
}

#course-title {
    display: block;
    padding: 1.5rem;
    background-color: var(--primary-color);
    align-items: center;
    text-align: center;
    font-size: 1.4rem; 
}

/* Navigation Bar */
.navigation {
    margin: 0 auto;
    padding: 0;
    display: flex;
    max-width: 900px;
}

.navigation li {
    padding: 0.8rem;
    flex: 1 1 100%;
    list-style: none;
    text-align: center;
    align-items: center;
}

.navigation a {
    text-decoration: none;
}

.navigation a:hover {
    color: var(--hover-color);
    font-weight: var(--accent-font-weight);
    text-decoration: underline;
}

main {
    max-width: 900px;
    margin: 0 auto;
    display: grid;
    grid-template: auto 1fr / 2fr 1fr;
}

h1 {
    grid-column: span 2;
    text-align: center;
    align-items: center;
}

/* Cards style */
.card {
    margin: 0 0.5rem 1rem;
    border: var(--border);
    border-radius: 5px;
}

.card img {
    margin: 1rem;
}

.card h2 {
    margin: 0;
    padding: 0.8rem;
    background-color: var(--primary-color);
    font-size: medium;
    text-align: center;
}

#profile-pic {
    float: right;
    margin: 1rem 2rem 1rem 1rem;
    border: var(--border);
    width: 120px;
    height: auto;
}

#country {
    margin: 2rem 0 1rem;
}

.card h3 {
    text-align: center;
    margin: 1rem;
    border-bottom: var(--border);
}

#country figure {
    float: left;
    width: 150px;
    height: auto;
    margin: 0 1rem 0.5rem;
    font-size: small;
    text-align: center;
}

#country img {
    width: 150px;
    height: auto;
    margin: 0;
}

.card p {
    margin: 1rem;
    line-height: 1.5;
}

.card ul {
    line-height: 1.5;
}

footer {
    background-color: var(--primary-color);
    padding: 0.5rem;
    align-items: center;
    text-align: center;
}

footer p {
    margin: 0.5rem;
}

#lastModified {
    font-size: 0.9rem;
    color: var(--hover-color);
}