:root {
    --primary-color: #1F591D;
    --accent-color1: #ffffff;   /*An optional color if there's more content:  #D9AB23*/
    --secondary-color: #101C40;
    --main-font: "Roboto", "sans-serif";
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--main-font);
    min-height: 100dvh;
}

header, footer {
    text-align: center;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--accent-color1);
    padding: 1rem;
}

main {
    display: grid;
    grid-template-columns: 1fr;
}

.hero {
    background-color: var(--secondary-color);
    padding-top: 0.2rem;
}

.hero img {
    margin: 0 auto;
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    max-height: 83dvh;
}

.card {
    background-color: var(--accent-color1);
    border-bottom: 2px solid var(--secondary-color);
    padding: 2rem;
}

.card h2 {
    text-align: center;
}

.card span {
    display: none;
}
/* Icon */
.card img{
    display: block;
    margin: 1rem auto;
    width: 3rem;
    height: auto;
}
/* Data and weather table */
.card table {
    margin: 1rem auto;
    width: 100%;
    table-layout: fixed;
}

.card th, td {
    padding: 0.3rem;
}

.card th {
    text-align: end;
}

.card td {
    text-align: start;
}

/* Different Media Display */
/* Medium */
/* Large */
@media (min-width: 950px) {
    body {
        display: flex;
        flex-direction: column;
    }
    
    main {
        position: relative;
        flex: 1;
    }

    .hero img {
        height: 100%;
    }

    .card {
        position: absolute;
        opacity: .8;
        padding: 0.5rem 1rem;
    }

    .card h2 {
        text-align: left;
        padding: 1rem;
        background-color: var(--secondary-color);
        color: var(--accent-color1);
        margin: 0 1rem 1rem -1.5rem;
    }

    .card img {
        display: none;
    }

    .card table {
        width: auto;
    }

    .data {
        left: 1rem;
        top: 2rem;
    }

    .weather {
        right: 1rem;
        bottom: 2rem;
    }
    /* Weather icon */
    .weather h2::after {
        content: "🌦️";
        float: right;
    }

}
